/* * {
  border: 3px solid blue;
} */

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

h1 {
  height: 20%;
  font-size: 700%;
  text-align: center;
  color: #fffff6;
  margin: 0%;
  padding-top: 4%;
  background-image: url(./images/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
  background-size: cover;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.box {
  background-color: #83b2bc;
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.color-section {
  height: 80%;
  background-color: #fffff6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.hex-code {
  background-color: #fffff6;
  height: 20px;
  width: 150px;
  align-items: center;
  text-align: center;
  margin: 0%;
  padding: 4%;
}

.lock {
  background-color: #fffff6;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-buttons {
  height: 20%;
  background-color: #fffff6;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.random-button,
.save-button {
  height: 70px;
  width: 170px;
  background-color: #fffff6;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background-image: url(./images/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
  background-size: cover;
}

.side-bar {
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fffff6;
  border-left: 3px solid black;
  font-family: "Montserrat", sans-serif;
}
.hidden{
display: none;
}
/*.delete-button {
  font-family: "Montserrat", sans-serif;
  height: 54px;
  width: 150px;
  display: flex;
  background-color: #87189e;
  color: #341aa2;
  cursor: pointer;
  text-align: center;
}*/

/*.box {
  transform: scale(0.25); /* Equal to scaleX(2) scaleY(0.5)
  } */
