{
  border: 3px solid blue;
}
body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: “Montserrat”, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}
h1 {
  height: 20%;
  font-size: 700%;
  text-align: center;
  color: #FFFFFF;
  margin: 0%;
  padding-top: 4%;
  background-image: url(./images/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
  background-size: cover;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.box {
  background-color: #83B2BC;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid black;
}
.color-section {
  height: 80%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8%;
}
.lock-hex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.hex-code {
  background-color: #FFFFFF;
  height: 30px;
  width: 94px;
  font-size: 16pt;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
.lock {
  background-color: #FFFFFF;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-buttons {
  height: 20%;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}
.random-button,
.save-button {
  height: 88px;
  width: 200px;
  background-color: #FFFFFF;
  color: white;
  font-family: “Montserrat”, sans-serif;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background-image: url(./images/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
  background-size: cover;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.side-bar {
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  border-left: 3px solid black;
  font-family: “Montserrat”, sans-serif;
}
.display {
  height:5%;
  width:95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin: 15%;
}
h2 {
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  margin: 0%;
  padding-top: 4%;
  font-family: “Montserrat”, sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.little-sections{
  border: 2px solid black;
  height:90%;
  width:15%;
  border-radius: 6px;
}
.display-palettes {
  background-color: #83B2BC;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.hidden{
display: none;
}
.delete-button {
  font-family: “Montserrat”, sans-serif;
  height: 45px;
  width: 110px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background-image: url(./images/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
  background-size: cover;
  margin: 2%;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}
